<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!--<add name="BSMConnectionString"
    connectionString="Data Source=VAIO-VIJESH\VIJ_MSSQLSERVER;Initial Catalog=BSM_DB;Integrated Security=True"/>-->
  <add name="BSMConnectionString" connectionString="Data Source=localhost;Database=bsm_db;User ID=root;Password=pass123;port=3306" providerName="MySql.Data.MySqlClient"/>
  </connectionStrings>
    <startup useLegacyV2RuntimeActivationPolicy="true"> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ICommonService" />
                <binding name="BasicHttpBinding_IPurchaseService" />
                <binding name="BasicHttpBinding_IUserService" />
                <binding name="BasicHttpBinding_ISalesService" />
                <binding name="BasicHttpBinding_IMasterDataService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:36659/CommonService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICommonService"
                contract="BS_CommonService.ICommonService" name="BasicHttpBinding_ICommonService" />
            <endpoint address="http://localhost:36659/PurchaseService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPurchaseService"
                contract="BS_PurchaseService.IPurchaseService" name="BasicHttpBinding_IPurchaseService" />
            <endpoint address="http://localhost:36659/UserService.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IUserService" contract="BS_UserService.IUserService"
                name="BasicHttpBinding_IUserService" />
            <endpoint address="http://localhost:36659/SalesService.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_ISalesService" contract="BS_SalesService.ISalesService"
                name="BasicHttpBinding_ISalesService" />
            <endpoint address="http://localhost:36659/MasterDataService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMasterDataService"
                contract="BS_MasterDataService.IMasterDataService" name="BasicHttpBinding_IMasterDataService" />
        </client>
    </system.serviceModel>
</configuration>